* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0%;
}

main {
  min-width: 380px;
}

/* Introduction */

header {
  background-color: black;
  display: flex;
  color: white;
  width: 50%;
  margin: auto;
  height: 10vh;
  align-items: center;
}

.logo,
.nav-links {
  display: flex;
}

.logo {
  flex: 0.7;
  font-weight: 500;
  font-size: 24px;
  animation-name: fadeup;
  animation-duration: 1s;
  color: white;
  text-decoration: none;
}

nav {
  flex: 0.3;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
  width: 100%;
  padding-left: 20%;
  font-size: 16px;
  font-weight: 600;
  animation-name: fadeup;
  animation-duration: 1s;
}
.nav-link {
  color: #9c9c9c;
  text-decoration: none;
}

main {
  padding: 0%;
  margin: 0%;
  background-color: black;
}

.title-image {
  margin: 0;
  display: block;
  width: 100%;
  animation-name: fadeup;
  animation-duration: 2s;
}
.image2{
  margin:0;
  width: 100%;
  padding-top: 1vh;
  padding-bottom: 2vh;
  padding-left: 10%;
  padding-right: 10%;
}

.description{
  font-family: 'Literata', serif; 
  color: #9c9c9c;
  margin:0;
  width: 100%;
  padding-left: 15%;
  padding-right: 20%; 
}
.title {
  width: 50%;
  margin: auto;
  padding-top: 10vh;
  padding-bottom: 3vh;
  font-weight: 700;
  font-size: 6vh;
}
.sub-title {
  /* font-family: 'Lora', serif; */
  margin-right: 10%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-weight: 600;
  font-size: 3vh;
  color: black;
}

.detail {
  /* margin-right: 10%; */
  padding-top: 1vh;
  padding-bottom: 3vh;
  font-weight: 500;
  font-size: 2vh;
  color: #9c9c9c;
}

.body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
}

.body h1 {
  font-weight: 700;
  font-size: 4vh;
  padding-top: 5vh;
  padding-bottom: 3vh;
  line-height: 5vh;
}
.body h2 {
  font-weight: 600;
  font-size: 3vh;
  padding-top: 2vh;
  /* padding-bottom: 1vh; */
}
.body {
  font-family: "Literata", serif;
  width: 50%;
  margin: auto;
  padding-top: 2vh;
  padding-bottom: 5vh;
  padding-right: 5%;
  font-weight: 400;
  font-size: 2.1vh;
  line-height: 3.6vh;
}

ul.list {
  list-style: circle;
  list-style-position: inside;
  line-height: 5vh;
}

.image {
  padding-top: 3vh;
  width: 100%;
  margin: auto;
  align-self: center;
  padding-bottom: 7vh;
}

.full-image{
  margin-left: -50%;
  margin-right: 50%;
  width: 100%;
  al
}
/* Footer */
footer {
  background-color: black;
  color: white;
  height: 30vh;
  margin: auto;
  align-content: center;
  align-items: center;
  min-width: 380px;
}

.footer-text {
  background-color: black;
  color: white;
  width: 50%;
  margin: auto;
  padding-top: 10vh;
  display: flex;
  font-weight: 500;
  font-size: 24px;
}

.end-text {
  background-color: black;
  color: #9c9c9c;
  width: 50%;
  margin: auto;
  padding-top: 4vh;
  display: flex;
  font-weight: 600;
}
.footer-text a {
  color: white;
  text-decoration: none;
}
.footer-text a:hover{
  color:#9c9c9c;
  text-decoration: none;
  animation-name: fade2;
  animation-duration: 0.2s;
}

@keyframes fadeup {
  from {
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade2 {
  from {
    color: white;
    transition: all 1s ease;
  }
  to {
    color: #9c9c9c;
  }
}
/* Responsivity */

@media screen and (max-width: 1280px) {
  section {
    font-size: 40px;
  }
  .logo {
    font-size: 22px;
  }
  .work {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media screen and (max-width: 1024px) {
  section {
    font-size: 38px;
  }

  .nav-links {
    font-size: 15px;
  }
  .logo {
    font-size: 20px;
  }
  .project {
    width: 70%;
    font-size: 28px;
  }
}

@media screen and (max-width: 850px) {
  header {
    width: 70%;
    margin: auto;
  }
  section {
    width: 70%;
    margin: auto;
    font-size: 36px;
  }
  .logo {
    font-size: 18px;
  }

  .nav-links {
    font-size: 14px;
  }
}

@media screen and (max-width: 665px) {
  header {
    width: 80%;
    margin: auto;
  }
  section {
    width: 80%;
    margin: auto;
    font-size: 28px;
  }
  .work {
    width: 90%;
  }
  .nav-links {
    font-size: 12px;
  }
  .project {
    width: 80%;
    font-size: 24px;
  }

  .footer-text {
    width: 80%;
    font-size: 24px;
  }
  .end-text {
    width: 80%;
  }
}

@media screen and (max-width: 405px) {
  header {
    width: 80%;
    margin: auto;
  }
  section {
    width: 80%;
    margin: auto;
    font-size: 24px;
  }
  .work {
    width: 90%;
  }
  .nav-links {
    font-size: 12px;
  }
  .proj-links {
    width: 80%;
  }
}
