*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0%;
}

header{
  font-family: 'Inter', sans-serif;
  background-color: black;
  display: flex;
  color: white;
  width: 50%;
  margin: auto;
  height: 10vh;
  align-items: center;

}
.logo,.nav-links{
  display: flex;
}

.logo{
  flex: 0.7;
  font-weight: 600;
  font-size: 24px;
}

nav{
  flex: 0.2;
  justify-content: space-around;
  margin-left: 5px;
}

.nav-links{
  justify-content: space-around;
  list-style: none;
  width: 100%;
  font-size: 16px;
}
.nav-link{
  color: #9c9c9c;
  text-decoration:none;

}
main{
  padding: 0%; margin: 0%;
  background-color: black;
}

section{
  font-family: 'Inter', sans-serif;
  width: 50%;
  margin: auto;
  font-size: 54px;
  font-weight: 600;
  align-items: center;
  line-height: 110%;
  padding-top: 10vh;
  padding-bottom: 20vh;
}

.arrow{
  display: flex;
  justify-content: center;
  padding-top: 16vh;
}
.intro-text {
  padding-top: 15vh;
  color: white;
}
.projects{
  width: 50%;
  margin: auto;
  padding-top: 10vh;
  font-weight: 600;
  font-size: 48px;
}

.work {
  display: flex;
  width: 50%;
  margin: auto; 
  height: 182vh;
  justify-content: space-between;
}

.card {
  margin-top: 10vh;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;

}
.card-2 {
  margin-top: 10vh;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  
}

@media screen and (max-width: 1024px){
  section{
    font-size: 36px;
  }
  .work{
    flex-direction: column;
    justify-content: flex-start;
  }
  .nav-links{
    font-size: 15px;
  }
}

@media screen and (max-width: 800px){
  header{
    width: 70%;
    margin: auto;
  }
  section{
    font-size: 28px;
  }
  .logo{
    font-size: 18px;
  }
  .work{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .projects{
    width: 70%;
    font-size: 28px;
  }
  .nav-links{
    font-size: 14px;
  }
}

@media screen and (max-width: 600px){
  header{
    width: 90%;
    margin: auto;
  }
  section{
    width: 70%;
    margin: auto;
    font-size: 24px;
  }
  .work {
    width: 90%;
  }
  .nav-links{
    font-size: 12px;
  }
}